<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>电生理之家</title>
    <link rel="stylesheet" href="../assets/app/css/live.css" type="text/css">
    <script type="text/javascript" src="/assets/app/js/stat.js"></script>
</head>
<body>
    <div class="bar">
        <p>直播</p>
    </div>
    <a href="/haishen/room/advroom?username={{username}}&userid={{userid}}&expertid=100&headimgurl={{headimgurl}}">
        <div class="adv">
            <img src="../assets/app/img/adv.jpg">
            <p>电生理之家历届直播一览</p>
        </div>
    </a>
    <a href="/haishen/room/zhiboroom2?username={{username}}&userid={{userid}}&expertid=100&headimgurl={{headimgurl}}">
        <div class="live">
            <img src="../assets/app/img/livephone.jpg">
            <p>电生理之家带你游览中华医学会第十九次全国神经病学学术会议会场内外</p>
        </div>
    </a>
	<div class="bottom">
		
			<img src="../assets/app/img/selectintrusion.png">
			<a href="/haishen/live2?username={{username}}&userid={{userid}}&expertid=100&headimgurl={{headimgurl}}"><img src="../assets/app/img/tv.png"></a>
			<a href="/haishen/list?username={{username}}&userid={{userid}}&expertid=100&headimgurl={{headimgurl}}"><img src="../assets/app/img/class.png"></a>
		
	</div>
</body>
</html>